<%- include("header") -%>

<h2>About page</h2>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro optio eaque unde dicta quam minima consectetur, mollitia aut incidunt, ad sapiente inventore eligendi et, amet nostrum molestiae magni cupiditate fugiat?</p>

<%- include("footer") -%>